<div class="container">
    <nav>
      <ul class="left-part">
        <li class="logo-link" [routerLink]="['/']" routerLinkActive="router-link-active" >
          <span class="coursive-island">Glebov</span>ART
        </li>
      </ul>
      <ul class="right-part">
        <li class="home-link" [routerLink]="['/']" routerLinkActive="router-link-active" (click)="return()">
          Home
        </li>
        <li class="contacts-link" [routerLink]="['/contacts']" routerLinkActive="router-link-active" (click)="return()">
          Contatti
        </li>
        <li class="portfolio-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active" (click)="return()">
          Portfolio
        </li>
      </ul>
    </nav>
</div>
<router-outlet></router-outlet>
